*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui;
}

.container{
    width: 1200px;
    /* border: 2px solid red; */
    margin: 0 auto;
}

.header_hat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 38px;
    background-color: #65256F;
}

.header_logo>img{
margin-top: 5px;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

ul>li, button{
    margin: 10px;
    border: 0px;

}

ul>li{
    padding: 13px;
}


a {
    text-decoration: none;
    color: #2A2828;
}

ul>button{
    width: 168px;
height: 42.62px;
color: aliceblue;
background-color: #65256F;
border-radius: 3px;
}

.about-img{
margin: 60px 0;
border-radius: 3px;
}

.first{ 
    width: 532px; 
    top: 100px; 
    border: 2px solid #BEBEBE; 
    margin: 70px 0 0 816px; 
 
} 
.second{ 
    width: 530px; 
    height: 0px; 
    margin: -5px 0 0 0; 
    border: 2px solid #BEBEBE; 
 
} 
.Port{ 
width: 254px; 
height: 56px; 
right: 200px; 
margin: -32px 0 0 547px; 
 
font-family: 'Gilroy'; 
font-style: normal; 
font-weight: 400; 
font-size: 48px; 
line-height: 56px; 
/* identical to box height */ 
text-align: center; 
 
color: #000000; 
}